server:
  port: 8090

spring:
  application:
    name: admin-service
  security:
    user:
      name: admin
      password: ${ADMIN_PASSWORD:admin}  # Use environment variable in production
  cloud:
    config:
      uri: http://localhost:8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/