server:
  port: 8081

spring:
  application:
    name: auth-service
  cloud:
    config:
      uri: http://localhost:8888

jwt:
  expiration: 86400000 # 24 hours in milliseconds

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/